# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: release

# Trigger the workflow when:
on:
  # A push occurs to one of the matched tags.
  push:
    tags:
      # Pattern that roughly matches Oasis Core's version tags.
      # For more details on GitHub Actions' pattern match syntax, see:
      # https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#patterns-to-match-branches-and-tags.
      - 'v[0-9]+.[0-9]+*'

jobs:
  release:
    # NOTE: This name appears in GitHub's Checks API.
    name: prepare-release
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # Required for OIDC https://docs.npmjs.com/trusted-publishers#supported-cicd-providers
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          cache: yarn
          always-auth: true
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build app
        run: yarn build
      - name: Publish release on NPM
        run: |
          echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc && \
          yarn publish \
            --tag latest \
            --access public
